BookImages/All_Images/*.jpg
BookImages/Renamed_All_Images/*.jpg
OCR_IMGs2TXT_chj/__pycache__/
OCR_IMGs2TXT_chj/ocr_out_jsons/
OCR_IMGs2TXT_chj/ocr_out_texts/
Renamed_All_Images.rar
汇报_chj/*.docx
广州市从化区卷一_1-260.pdf
